@charset "UTF-8";

/* CSS Document */


/*-------------------------
/* $font import
---------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/*-------------------------
/* $Globel
---------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #515151;
}

.wrapper {
    background-color: transparent;
}


/*-------------------------
/* $Header
---------------------------*/


/*-------------------------
/* $Hero
---------------------------*/

.heroCard-container {
    height: 105vh;
    width: 100vw;
    top: -5vh;
    background-color: rgba(25, 30, 35, 0.65);
    position: fixed;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all ease-in-out 0.3s;
    pointer-events: auto;
    z-index: 10;
}

.hide.heroCard-container {
    opacity: 0;
    transition: all ease-in-out 0.3s;
    pointer-events: none;
}

.heroCard {
    width: 100%;
}

.heroCard .heroTitle {
    font-family: 'Raleway', sans-serif;
    transition: all ease-in-out 0.3s;
    transition-delay: 1s;
    overflow: hidden;
}

.hide .heroCard .heroTitle {
    opacity: 0;
    transform: translateX(-10px);
    transition: all ease-in-out 0.3s;
}

.btn-homeenter {
    display: inline-block;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.65);
    line-height: 50px;
    padding: 0px 10px;
    margin-top: 16px;
    font-weight: 600;
    cursor: pointer;
    pointer-events: auto;
    letter-spacing: 0.1em;
    transition: all ease-in-out 0.3s;
    border: 2.5px solid rgb(255, 255, 255);
    border-radius: 4px;
}

.btn-homeenter:hover {
    background-color: rgba(255, 255, 255, 1);
}


/*-------------------------
/* $InfoCard
---------------------------*/

.infoCard-container {
    height: 101vh;
    width: 100vw;
    top: 1vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    /* display: none !important; */
}

.infoCard {
    width: 100%;
    height: 85%;
    /* background-color: #191e23;
    border-radius: 3%;
    border-color: #1e9696;
    border-width: 1px;
    border-style: solid; */
    display: flex;
    flex-direction: column;
    transform: scale(1, 1);
    opacity: 1;
    transition: all ease-in-out 0.3s;
    transition-delay: 1s
}

.hide .infoCard {
    border-radius: 0%;
    transform: scale(1.02, 1.02);
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.infoTitle {
    display: inline-block;
    letter-spacing: 2px;
    font-size: 18px;
    /* font-weight: 700; */
    pointer-events: visible;
}

.infoTitle-home {
    display: inline-block;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 800;
    pointer-events: visible;
}

.infoTitle-homeicon {
    width: 20px;
    height: 30px;
    transform: translateY(8px);
    /* padding: 0px 10px 0px 0px; */
}

.infoTitle-project {
    display: inline-block;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    pointer-events: visible;
}


/* #projectTitle { */


/* text-shadow: 0 0 2px #191e23, 0 0 2px #000000; */


/* -webkit-text-stroke: 1.5px #191e23; */


/* } */


/* #projectTitle::before {
    content: "";
    z-index: -1;
    position: absolute; */


/* height: 0.7em; */


/* height: 1.2em; */


/* top: 0.6em; */


/* top: -0.1em;
    left: 0;
    background: #ffffff;
    width: 110%; */


/* content: "{ ";
    color: #ffffff; */


/* -webkit-text-stroke: 0px #191e23; */


/* } */


/* #projectTitle::after { */


/* content: " }";
    color: #ffffff; */


/* -webkit-text-stroke: 0px #191e23; */


/* } */


/* .infoTitle {
    float: left;
} */

.infoCard .infoContent {
    /* width: 33%; */
    width: 45%;
    /* height: 85%; */
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 1%;
    /* border-color: #1e9696;
    border-width: 1px;
    border-style: solid; */
    /* display: inline-block;
    text-align: center; */
    opacity: 0.95;
    box-shadow: 0px 0px 5px rgb(140, 140, 140);
    /* box-shadow: 0px 0px 10px black; */
    /* border: thick ridge #7b7b7b; */
    /* cursor: pointer; */
    transition: transform 0.5s;
    pointer-events: visible;
}

.infoCard .infoContent.collapsed {
    /* transform: translateX(-300px); */
    transform: translateX(-120%);
    /* transform: translateX(-20px); */
}

.sidebar-toggle {
    position: absolute;
    /* display: block; */
    padding: 10px 4px;
    right: -48px;
    /* top: -45px; */
    top: 2px;
    /* top: 45%; */
    z-index: 10;
    font-size: 30px;
    color: #80cfee;
    background-color: #ffffff;
    border-radius: 10%;
    opacity: 0.8;
    /* width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center; */
}


/* .sidebar-toggle.left {
    right: -1.5em;
} */

.sidebar-toggle:hover {
    color: #5e4116;
    opacity: 1;
    cursor: pointer;
}

.media-container {
    width: 100%;
    aspect-ratio: 16 / 10;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.info-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.infotext-container {
    width: 100%;
    height: 20px;
}


/*-------------------------
/* $Nav
---------------------------*/

.nav {
    position: fixed;
    width: 180px;
    bottom: 180px;
    right: 40px;
}

.nav-item {
    display: block;
    background-color: #e8e8e8;
    margin: 3px;
    padding: 4px 5px;
    border-radius: 3px;
    font-size: 8px;
    line-height: 14px;
    font-weight: 600;
    color: #484848;
    box-shadow: 0px 0px 5px rgb(140, 140, 140);
    opacity: 0.7;
}

.nav-item.active {
    background-color: #94d0f5;
    opacity: 1;
    color: #000000;
    text-shadow: -1.2px 0 rgb(255, 255, 255), 0 1.2px rgb(255, 255, 255), 1.2px 0 rgb(255, 255, 255), 0 -1.2px rgb(255, 255, 255);
}


/*-------------------------
/* $Map
---------------------------*/

#map {
    top: 0;
    height: 100vh;
    width: 130vw;
    /* width: 100vw; */
    position: fixed;
    right: -10vw;
    /* left: 50vw; */
}

#mapInset {
    bottom: 50px;
    right: 40px;
    height: 120px;
    width: 180px;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    /* border: thick ridge #7b7b7b; */
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgb(140, 140, 140);
}

#mapInset .mapboxgl-ctrl-bottom-left {
    display: none;
}

@media (max-width: 500px) {
    #mapInset {
        display: none;
    }
}

#header {
    display: none;
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
}

#footer {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    line-height: 8px;
    font-size: 8px;
    position: relative;
    z-index: 5;
    background-color: #191e2396;
}

#footer p {
    margin-bottom: 0px;
}

#footer a {
    color: #78d2d2;
}

#story {
    pointer-events: none;
}

#features {
    padding-top: 10vh;
    /* padding-bottom: 10vh; */
}

.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    /* width: 33vw; */
    width: 560px;
    /* width: 90vw; */
    /* margin-left: 5vw; */
    margin-left: 80px;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.light {
    color: #444;
    background-color: #fafafa;
}

.dark {
    color: #fafafa;
    /* background-color: rgba(30, 50, 50, 0.2); */
    /* background-color: rgba(255, 255, 255, 0); */
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.step {
    padding-bottom: 80vh;
    /* margin-bottom: 10vh; */
    /* opacity: 0.25; */
    opacity: 0;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 0px 0px;
    line-height: 20px;
    font-size: 24px;
    text-align: justify;
    border-radius: 5px;
}

.step h3 {
    margin-bottom: 10px;
    /* padding: 0px 25px; */
}

.step p {
    font-size: 16px;
    color: #d1d2d3;
    /* padding: 0px 25px; */
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}


/*-------------------------
/* $Drone Path
---------------------------*/

.marker {
    background-image: url('../images/drone-01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    opacity: 0.7;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    /* color: #7b7b7b; */
    border-top-color: #7b7b7b;
}

.mapboxgl-popup-content {
    padding: 0px 8px;
    background-color: #7b7b7b;
    color: #ffffff;
}


/*-------------------------
/* $Fix issue on mobile browser where scroll breaks
---------------------------*/

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}